.menu-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 16px 0;
}

.menu-nav a {
  padding: 8px 12px;
  border-radius: 999px;
  border: var(--border);
}

.menu-nav a:hover {
  background-color: rgb(from var(--accent) r g b / 10%);
}
